/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

.page-header .post-description {
    font-size: medium;
    color: var(--secondary);
    line-height: 1.4;
}

.page-header .post-description p {
    margin-bottom: 0.4rem;
}
